@{ ViewData["Title"] = "Home Page"; }
<h1>Welcome @ViewBag.User.FirstName </h1>
<table>
    @{foreach (var message in ViewBag.Messages){
    <tr>
        <td colspan="3">@message.MessageBody
            <p>by: @message.FirstName on @message.UpdatedAt.ToString("MMM dd 'at' hh:mm")</p>
            @if(message.UserId == ViewBag.User.UId){
            <div>
                <br>
                <form action="DeleteMessage">
                    <input type="hidden" name="id" value="@message.MId">
                    <button type="submit" class="deletebutton"> Delete message</button>
                </form>
            </div>
            }
        </td>
        @foreach (var comment in ViewBag.Comments){ if(comment.MessageId == message.MId){
        <tr>
            <td colspan="1"></td>
            <td colspan="2">
                @comment.CommentBody
                <p>by: @comment.FirstName on @comment.UpdatedAt.ToString("MMM dd 'at' h:mm ")</p>
                @if(comment.UserId==ViewBag.User.UId){
                <p>
                    <form action="DeleteComment">
                        <input type="hidden" name="id" value="@comment.CId">
                        <input type="submit" class="deletebutton" value="Delete this Comment">
                    </form>
                </p>
                }
            </td>
        </tr>}}
        <tr>
            <td colspan="1"></td>
            <td colspan="2">
                <div>
                    <form action="AddComment" method="POST">
                        <textarea name="CommentBody" rows="2" cols="23"></textarea>
                        <input type="hidden" name="UserId" value="@ViewBag.User.UId">
                        <input type="hidden" name="MessageId" value="@message.MId"><br>
                        <button type="submit">Add New Comment</button>
                    </form>
                </div>
            </td>
        </tr>
    </tr>
    } }
    <tr>
        <td colspan="3">
            <form action="AddMessage" method="POST">
                <textarea name="MessageBody" rows="4" cols="30"></textarea>
                <input type="hidden" name="UserId" value="@ViewBag.User.UId"><br>
                <button type="submit">Add New Message</button>
            </form>
        </td>
    </tr>
</table>